<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1200">
    <title>National Examination Board - Class XII Results</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
</head>
<body>

    <div class="container">

        <div class="header">
            <h2>National Examination Board</h2>
            <h1>Class XII : Results {{ year }}</h1>
        </div>

        <div class="nav-buttons">
            <a href="{{ url_for('home') }}">
                <button class="btn-blue">Main Page</button>
            </a>
        </div>


        <div class="form-container">

            <div class="badge">XII Result :: {{ year }}</div>

            <form action="/result" method="POST">
               
                <div class="form-group">
                    <div class="form-label">Symbol Number</div>
                    <div class="form-separator">:</div>
                    <div class="form-input-container">
                        <input type="text" name="symbol_number" id="symbol_number">
                        <span class="form-hint">Eg : 12013825</span>
                    </div>
                </div>

          
                <div class="form-group">
                    <div class="form-label">Date of Birth</div>
                    <div class="form-separator">:</div>
                    <div class="form-input-container">
                        <input type="text" name="dob" id="dob">
                        <span class="form-hint">Date Format : YYYY/MM/DD </span>
                    </div>
                </div>

           
                <div class="submit-container">
                    <button type="submit" class="btn-submit">Submit</button>
                </div>
            </form>
        </div>
    </div>

</body>
</html>